.subheadings
{
    padding-left: 310px;
    padding-bottom: 150px; 
    padding-top: 180px;  
    width: 1180px;

}

.float-left h1
{
    font-size: 30px;
    color: rgb(29, 167, 185);
    font-weight: 700;
    margin-top: 30px;
    
}

h1 img
{
    display: inline;
}

.float-right
{
    z-index: 10;  
    position: absolute;  
    right: 30px;  
    top: 180;
}
.float-right span
{

    padding: 2px 10px 2px 10px;
    background-color: #65C8C4;
    margin-left: 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.float-right p
{
    margin-left: 350px;
    font-size: small;
    padding-bottom: 10px;
}

p .tag
{
    border: 1px solid black;
    padding: 5px;
    
}

.image-list
{
    float: right;
    padding-left: 10px;
}


